# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencies
node_modules

# Build outputs
out
dist
dist-ssr
*.tgz

# Code coverage
coverage
*.lcov

# Environment variable files
*.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Cache files
.eslintcache
.cache
*.tsbuildinfo

# IDE directories
.idea
.vscode/*
!.vscode/extensions.json

# OS files
.DS_Store

# Other development files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific generated directories
/generated/prisma
/ReferenceFiles
/sshKeyForAWSInstance*.pem
